/* 
    Created on : 07/02/2019, 13:17:47
    Author     : Carlos-TP
*/

*{
    font-family: Arial;
}

.flutuante {
    position: fixed; /* absolute */
    right: 20px;
    top: 0px;
    background-color: red;
    color: #FFFFFF;    
}


.btn {
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.btn-ciano {
    background: #007149;
    color: #FFF;
    box-shadow:0 5px 0 #004e32;
}

.btn-ciano:hover {
    background: #004e32;
    color: #FFF;
    box-shadow:0 5px 0 #003623;
}

.btn-ciano:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}


body {
    margin: 0;
    padding: 0;
    background-color: #e9ebee;
}

.paragrafo {
    background-color: #FFF;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
}


ul, li {
    font-size: 1em;
    color: #666666;
}

h1,h2,h3, h4{
    color: #015761;
}

p {
    margin-top: 12pt;
    font-size:  0.8em;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 290px;
    height: 290px;
    margin: 15px;
}

#fotos {
    display: flex;

}

.flex_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hoverzoom {
    position: relative;
    width: 350px;
    overflow: hidden;
}
.hoverzoom > img {
    width: 100%; 
    border-radius: 2px;
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover > img {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
.hoverzoom .retina{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;    
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);    
    border-radius: 2px;
    text-align: center;
    padding: 30px;

    -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
}
.hoverzoom:hover .retina {
    opacity: 1;
    box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);

}
.hoverzoom .retina p {
    color: #fff;
    width: 600px;
    margin-top: 200px;
}

.voltartopo {  
             position: fixed;
            bottom: 2em;
            right: 1em;
            text-decoration: none;
            color: white;
            font-size: 12px;      
}


.voltartopobotao {
    width: 50px;
    height: 50px;
}



